@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&display=swap");

body {
  background: linear-gradient(to bottom, #ff69b4 40%, #d648d7 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.caveat-font {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.gradient-color {
  background: linear-gradient(to bottom, #ff69b4 40%, #d648d7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-background {
  background: linear-gradient(to right, #ff69b4 40%, #d648d7 100%);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes liquid {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.aurora-background {
  background:
    radial-gradient(circle at 70% 40%, #fde7a9 0%, transparent 45%),
    radial-gradient(circle at 30% 30%, #f7b4c8 0%, transparent 50%),
    radial-gradient(circle at 20% 80%, #f3a1d6 0%, transparent 45%),
    linear-gradient(135deg, #f9b7c4, #fde7a9);
}
